---
title: The GSA Equity Study on Remote Identity Proofing
description: We know that technology doesn’t work equally for everyone. By participating in GSA’s study on identity verification technology, you can help identify potential barriers and challenges that impact individuals from diverse backgrounds.
permalink: /
layout: wide

cta-text: Register Now

gsa-hero:
  headline: We know that technology doesn’t work equally for everyone. Help us make it better. 
  content: By participating in GSA’s study on identity verification technology, you can help identify potential barriers and challenges that impact individuals from diverse backgrounds.
  class: left-hero hero-bg
  bg: hero-1.jpg
  demo2: hero-2.jpg
  demo3: hero-3.jpg
  demo4: hero-4.jpg
  demo5: hero-5.jpg
  demo6: hero-6.jpg
  demo7: hero-7.jpg

gsa-cta-btn:
  color: btn-blue-bg btn-white-text btn-hover-dark-bg
  
icons:
  - image: study-details-1.jpg
    image-alt: 
    icon: icon-details.svg
    icon-alt: 
    headline: Study details
    content: "Interested in helping to ensure identity verification technology works for everyone? We invite you to participate in our research study. By participating in our study on identity verification technology, you can help GSA uncover potential barriers and challenges that impact individuals from diverse backgrounds."
    demo2: study-details-2.jpg
    demo3: study-details-3.jpg
    demo4: study-details-4.jpg
    demo5: study-details-5.jpg
    demo6: study-details-6.jpg
    demo7: study-details-7.jpg
  - image: study-about-1.jpg
    image-alt: 
    icon: icon-about.svg
    icon-alt: 
    headline: About the study
    content: 'The current methods of identity verification are often inequitable, leaving certain groups of people unable to access the services they need. The GSA  study on Remote Identity Proofing aims to understand how different methods to verify your identity can improve this issue. Participation includes taking pictures of your ID with your smartphone, taking selfies, and providing other personal information. See [Frequently Asked Questions](faqs/) for details.'
    demo2: study-about-2.jpg
    demo3: study-about-3.jpg
    demo4: study-about-4.jpg
    demo5: study-about-5.jpg
    demo6: study-about-6.jpg
    demo7: study-about-7.jpg
  - image: study-compensation-1.jpg
    image-alt: 
    icon: icon-compensation.svg
    icon-alt: 
    headline: Compensation
    content: "Once your participation is complete, Rekrewt, GSA’s recruitment partner, will send you a $25 electronic gift card in compensation to thank you for your time. You can choose an eGift Card from close to a hundred  retailers. All compensation will be sent to the email address you provide. Please expect 1-2 business days for payments to be processed. *Please note that processing times may be extended during weekends and holidays.*"
    demo2: study-compensation-2.jpg
    demo3: study-compensation-3.jpg
    demo4: study-compensation-4.jpg
    demo5: study-compensation-5.jpg
    demo6: study-compensation-6.jpg
    demo7: study-compensation-7.jpg

cover:
  image: cover-1.jpg
  demo2: cover-2.jpg
  demo3: cover-3.jpg
  demo4: cover-4.jpg
  demo5: cover-5.jpg
  demo6: cover-6.jpg
  demo7: cover-7.jpg

steps-title: Participation is simple!

faqs-title: Learn More
faqs-content: Click any of the questions below for more details.

faqs:
  - question: Why is GSA doing this study?
    answer: |-
      GSA is committed to combating bias. This research study will help us make sure government websites work for everyone.
      
      To improve outreach practices, user testing, and user experience for underserved communities in civic tech design, we’re studying the equity of remote identity-proofing technologies that the American public may interact with when accessing eligible government services and benefits.
      
      GSA plans to release a report with the results from the study in a peer-reviewed publication in 2024. The report will present a statistical analysis of the performance of proofing checks and explore the causes behind any negative or inconclusive results. Once the report is published on GSA.gov, GSA will use the results to inform requirements for future procurements and studies.

  - question: What is remote identity proofing?
    answer: |-
      Identity proofing is the process of verifying that an individual is who they say they are. Government agencies, financial institutions, and other organizations often require some type of “proof” before granting you access to their services. This is typically done by asking you for documentation such as a driver’s license, a passport, or your Social Security Number.
      
      Traditionally, organizations would take a hard copy of these items while in your presence and a person would physically attest that your documents actually belong to you. These processes help organizations catch people who may be pretending to be you.
      
      Remote identity proofing uses modern technology to streamline this process. In this study, identity-proofing software will try to determine if two images of you belong to the same person. One image will be captured from a government-issued identification that has a picture of you on it, the other from a picture you take of yourself (a “selfie”). GSA will also verify the information you provide (i.e. Social Security Number, address, phone number, etc.) and compare it to data sources to ensure that it also matches.

  - question: What do I need to participate in the study?
    answer: |-
      You will need: 
        - a mobile phone with a camera feature;
        - a phone plan associated with your name (it cannot be a virtual phone number like Google Voice, VOIP, etc.);
        - [an eligible identity document](faqs/#which-ids-are-eligible); and
        - your Social Security Number (SSN)

  - question: Which government IDs are eligible?
    answer: |-
      U.S. state and territory-issued identification cards with a profile photo are eligible, including: 
        - Driver’s licenses from the 50 states, the District of Columbia (DC), and other US territories (Guam, US Virgin Islands, Mariana Islands and Puerto Rico);
        - Non-driver’s license state-issued ID card, this is an identity document that asserts identity but does not give driving privileges.
    
      **Please use the same ID for all pictures.**

  - question: Why do I need to provide my Social Security Number (SSN)?
    answer: "Your SSN is used to verify your name, date of birth, and address against different records such as credit history reports."

  - question: Why are you asking for my skin tone?
    answer: |-
      Research on facial verification systems has shown that results can vary significantly depending on a person’s skin tone. To examine this variation, GSA is using the [Monk Skin Tone (MST) scale](faqs/#why-are-you-asking-for-my-skin-tone). Providing your skin tone information will help GSA better understand the challenges to equitable performance of facial verification algorithms. 

  - question: Will I be compensated for participating in the study? 
    answer: |-
      [Eligible participants](faqs/#who-is-eligible-to-participate-in-study) who complete all study steps will receive a $25 gift card.

  - question: How do I claim my compensation?
    answer: |-
      You will receive two emails after completing the study: 
      1. A confirmation email from <strong>identityequitystudy@research.gsa.gov</strong>. 
      2. An email from <strong>rewards@reward.tremendous.com with instructions on how to claim your **$25 gift card**. 
        
      Please check your junk or spam folders. If you do not receive these messages or have any trouble with the compensation please contact Rekrewt (<a href="mailto:gsa-support@rekrewt.com">gsa-support@rekrewt.com</a>), GSA’s recruitment partner, with any questions about compensation. Some participants [may not be eligible](faqs/#who-is-eligible-to-participate-in-study) for compensation. *Please note that processing times may be extended during weekends and holidays.*

  - question: I’d like to learn more
    answer: |-
      See the “[Frequently Asked Questions](faqs/)” section or “[Contact Us](contact-us/)” for more information about the study, participation requirements, data privacy, and compensation.

---

{% assign gsa-hero = page.gsa-hero %}
{% include components/gsa-hero.html %}

{% include gsa-icon-photos.html icons=page.icons %}

{% assign gsa-cta-btn = page.gsa-cta-btn %}
{% include components/gsa-cta-btn.html %}

{% include gsa-steps.html %}

{% assign cover = page.cover %}
{% include components/gsa-cover.html %}

{% include gsa-faqs.html faqs=page.faqs %}
