// cover.scss
.gsa-cover-wrap {
	display: block;
	width: 100%;
	overflow-y: hidden;
	height: 55vw;
	object-fit: cover;
	/*@media (min-width: 64em) {
		height: 700px;
		
	}*/
	
	@media (min-width: 40em) {
		height: 50vw;
	}
	
	@media (min-width: 64em) {
		height: 40vw;
		
	}
}

.gsa-cover {
	//display: block;
	width: 100%;
	//object-fit: cover;
	margin-top: 0px;
	//height: auto;
	
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100vw;
	height: 65vw;
	position: relative;
	
	.mobile-device & {
		margin-top: 0px !important;
	}
	
	@media (min-width: 40em) {
		margin-top: -100px;
	}
	
	
	@media (min-width: 64em) {
		margin-top: -200px;
		
	}
	
}