// steps.scss


.gsa-steps {
	background-color: color(blue-70v);
	color: #FFF;
	position: relative;
	text-align: center;
	
	figure {
		width: 100%;
		margin: 0;
	}
	
	figcaption {
		
		a {
			color: #FFF;
			text-decoration: underline;
		}
	}
}
.gsa-step__image {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}