// cta-btn.scss

.gsa-cta-btn {
	display: table;
	margin-left: auto;
	margin-right: auto;
	@include transition(all $medspeed $ease);

	&.btn-white-bg {
		background-color: #FFF;
		@include transition(all $medspeed $ease);
	}

	&.btn-blue-text {
		color: color($theme-color-primary-dark);
	}

	&.btn-blue-border {
		border: 2px solid color($theme-color-primary-dark);
	}
	
	&.btn-hover-blue-bg {
		&:hover {
			color: #FFF;
			background-color: color($theme-color-primary-dark);
		}
	}
	
	&.btn-hover-dark-bg {
		&:hover {
			color: #FFF;
			background-color: color(ink);
			@include transition(all $medspeed $ease);
		}
	}
	
}