// hero.scss

.gsa-hero {
	background-color: color(blue-60v);
	color: #FFF;
	position: relative;
	z-index: 0;
	
	.grid-container {
		text-align: center;
	}
	
	h1 {
		//font-size: 3rem;
		font-size: 2.1rem;
		//line-height: 2.5rem;
		margin-bottom: 1rem;
	}
	
	p {
		font-size: 1.2rem;
		line-height: 1.7rem;
	}	
	
	&.left-hero {
		.hero-content-wrap {
			margin: 0 auto;
			max-width: 80em;
		}
		.grid-container {
			text-align: left;
			//max-width: 64em;
			margin: 0;
		}
		
		.gsa-cta-btn {
			margin-left: 0;
		}
	}

	/*.grid-container {
		max-width: 64em;
	}*/
	&.hero-bg {
		//background-color:#000;
		//background-color: color(blue-70v);
		
		.hero-content-wrap {
			position: relative;
			z-index: 1;
		}
		
		.grid-container {
			max-width: 79em;
		}
		
		.hero-bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			@include coverBG();
			z-index: 0;
			@include opacity(0.15);
		}
		
		@media (min-width: 80em) {
			padding-top: 9rem !important;
			padding-bottom: 11rem !important;
		}
	}
	
	
	@media (min-width: 48em) {
		h1 {
			font-size: 3.2rem;
		}
		
		p {
			font-size: 1.4rem;
			line-height: 2rem;
		}
		
	}
	
	@media (min-width: 64em) {
		h1 {
			font-size: 3.3rem;
		}
		
		
	}
	
	@media (min-width: 80em) {
		h1 {
			font-size: 3.6rem;
		}
		
		/*p {
			font-size: 1.4rem;
			line-height: 2rem;
		}*/
	}
}