// hero.scss

.gsa-hero {
	background-color: color(blue-60v);
	color: #FFF;
	position: relative;
	z-index: 0;
	
	.grid-container {
		text-align: center;
	}
	
	h1 {
		font-size: 3rem;
		margin-bottom: 1rem;
	}
	
	p {
		font-size: 1.2rem;
	}	

	/*.grid-container {
		max-width: 64em;
	}*/
	
	@media (min-width: 48em) {
		h1 {
			font-size: 3.2rem;
		}
		
	}
	
	@media (min-width: 64em) {
		h1 {
			font-size: 3.3rem;
		}
		
		/*p {
			font-size: 1.4rem;
		}*/
	}
	
	@media (min-width: 80em) {
		h1 {
			font-size: 3.5rem;
		}
		
		p {
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}
}