// steps.scss


.gsa-steps {
	background-color: color(blue-70v);
	color: #FFF;
	position: relative;
	text-align: center;
	
	figure {
		width: 100%;
		margin: 0;
	}
	
	figcaption {
		
		a {
			color: #FFF;
			text-decoration: underline;
		}
	}
}
.gsa-step__image {
	display: block;
	width: 100%;
	height: auto;
	/*padding-bottom: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;*/
	margin-bottom: 20px;
}


// INLINE STEPS
.gsa-steps-inline {
	text-align: center;
	figure {
		width: 100%;
		margin: 0;
	}
	figcaption {
		margin-top: 0;
		color: color($theme-color-primary-dark);
		font-size: 17px;
		line-height: 20px;
		
		p {
			margin: 0;
		}
		
		a {
			color: color($theme-color-primary-dark);
			
			&:hover {
				color: color(ink);
			}
		}
	}
}