<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav" aria-label="Footer navigation,">
          <ul class="grid-row grid-gap">
            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="/rulesofuse/"
                >Rule of Use</a
              >
            </li>
            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="/privacyactstatement/"
                >Privacy Act Statement</a
              >
            </li>
            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="/https://www.gsa.gov/website-information/accessibility-statement/"
                >Accessibility Statement</a
              >
            </li>
            <li
              class="
                mobile-lg:grid-col-6
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="/https://www.gsa.gov/website-information/website-policies/"
                >Website Policies</a
              >
            </li>
            <li
              class="
                mobile-lg:grid-col-4
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="/https://www.gsa.gov/reference/gsa-plans-and-reports/"
                >Reports</a
              >
            </li>
            <li
              class="
                mobile-lg:grid-col-4
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="/https://www.gsaig.gov//"
                >Office of the Inspector General</a
              >
            </li>
            <li
              class="
                mobile-lg:grid-col-4
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
                >FOIA Requests</a
              >
            </li>
            <li
              class="
                mobile-lg:grid-col-4
                desktop:grid-col-auto
                usa-footer__primary-content
              "
            >
              <a class="usa-footer__primary-link" href="https://www.cbca.gov///"
                >Board of Contract Appeals</a
              >
            </li>                
          </ul>
        </nav>
     </div>  
   </div>      
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <div class="grid-row padding-3">
          <div class="tablet:grid-col">
            <div class="logo-links">
              <a class="footer-logo media_link" href="https://www.gsa.gov/">
                {% asset img/nav-logo.png width="50" alt="Agency logo" %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
        
        
        
     
