{% comment %}
You shouldn't have to edit this page very often. But if you want
to modify some of the meta-data for the site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Google Analytics -->
  {% if site.gtag %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gtag }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    /**
      * `forceSSL` was used for analytics.js (the older Google Analytics script).
      * It isn't documented for gtag.js, but the term occurs in the gtag.js code;
      * figure it doesn't hurt to leave it in. -@afeld, 5/29/19
      */
    gtag('config', '{{ site.gtag }}', { 'anonymize_ip': true, 'forceSSL': true });
  </script>
  {% endif %}
  <!-- END Google Analytics Script -->

  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Disable all commercial crawlers for demo and preview pages, lines below should be blank in production page -->
  {% unless site.env.BRANCH == "main" %}
  <meta name="googlebot" content="noindex,nofollow" /> 
  <meta name="bingbot" content="noindex,nofollow" />
  <meta name="YandexBot" content="noindex,nofollow" />
  <meta name="DuckDuckBot" content="noindex,nofollow" />
  <meta name="Baiduspider" content="noindex,nofollow" />
  {% endunless %}
  <!-- END noindex,nofollow block for non-production branches -->

  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Title and meta description
    ================================================== -->
  <title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title }}</title>
  <meta property="og:title" content="{{page.title}}" />
  <meta name="description" content="{{page.description}}" />
  <meta property="og:description" content="{{page.description}}" />
  <meta property="og:image" content="{{ site.env.BASEURL }}/assets/img/open-graph-preview-1.jpg"/>
  

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{{page.title}}" />
  <meta name="twitter:description" content="{{page.description}}" />

  <meta property="og:type" content="website" />
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
	
  <!-- Favicons
    ================================================== -->
  <!-- 128x128 -->
  <link
    rel="shortcut icon"
    type="image/ico"
    href="{{site.baseurl}}/assets/img/favicons/favicon.ico"
  />
  <link
    rel="icon"
    type="image/png"
    href="{{site.baseurl}}/assets/img/favicons/favicon.png"
  />
  <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="{{site.baseurl}}/assets/img/favicons/favicon-192.png"
  />
  <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
  <link
    rel="apple-touch-icon-precomposed"
    href="{{site.baseurl}}/assets/img/favicons/favicon-57.png"
  />
  <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
  <link
    rel="apple-touch-icon-precomposed"
    sizes="72x72"
    href="{{site.baseurl}}/assets/img/favicons/favicon-72.png"
  />
  <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
  <link
    rel="apple-touch-icon-precomposed"
    sizes="114x114"
    href="{{site.baseurl}}/assets/img/favicons/favicon-114.png"
  />
  <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
  <link
    rel="apple-touch-icon-precomposed"
    sizes="144x144"
    href="{{site.baseurl}}/assets/img/favicons/favicon-144.png"
  />
  <!-- CSS
    ================================================== -->
<style>
	.d-none {display: none;}
	{% include critical-css.html %}	
</style>
 <link type="text/css" href="{{site.baseurl}}/assets/css/styles.css" rel="stylesheet" />

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
{% if site.dap.agency %}
<!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
<script
  async 
  type="text/javascript"  
  id="_fed_an_ua_tag"
  src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap.agency}}{% if site.dap.subagency %}&subagency={{site.dap.subagency}}{% endif %}">
</script>
{% endif %}
<!-- END DAP Script -->

</head>
