{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3">
			
	<nav aria-label="Secondary navigation" class="usa-sticky-sidenav">
		<h2 class="padding-left-2">{{ page.sidenavtitle }}</h2>
	  <ul class="usa-sidenav">
		{% for link in page.subnav %}

		<li class="usa-sidenav__item">
		  <a href="{% if link.href %}{{ link.href }}{% else %}#{{ link.text | slugify }}{% endif %}">
			 {{ link.text }}
		  </a>
		</li>
		{% endfor %}
	  </ul>
	</nav>

</aside>