{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-8 usa-prose">
      <div class="tablet:grid-col-4">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Overview</h2>
      </div>
      <p>GSA is conducting a remote online identity proofing equity study. This study will test and assure the equity of
        various remote online identity proofing vendors used by private and federal agencies. See the following survey
        for further details and to begin participation in the study: <a
          href="https://feedback.gsa.gov/jfe/form/SV_1XEHtWHnWUp2LoG" target="_blank">GSA Equity Study</a></p>
    </div>
  </div>
</section>