/*_variables.scss */

$theme-font-type-mono: "roboto-mono";
$theme-font-type-sans: "public-sans";
$theme-font-type-serif: "merriweather";

$speed1: 0.1s;
$speed2: 0.2s;
$speed3: 0.3s;
$speed4: 0.4s;
$speed5: 0.5s;
$speed6: 0.6s;
$speed7: 0.7s;
$speed8: 0.8s;
$speed9: 0.9s;
$speed10: 1s;
$fastspeed: $speed2;
$medspeed: $speed3;
$longspeed: $speed10;
$mobilenavspeed: $speed3;
$ease: ease;