/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings
@import "theme/uswds-theme-general";
@import "theme/uswds-theme-typography";
@import "theme/uswds-theme-spacing";
@import "theme/uswds-theme-color";
@import "theme/uswds-theme-utilities";
@import "theme/uswds-theme-components";

// Set correct paths for use with asset pipeline
$theme-font-path: "fonts";
$theme-image-path: "img";

$theme-show-notifications: false;
$theme-font-type-sans: "public-sans";
$theme-font-weight-heavy: 900;
$theme-banner-background-color: "ink";
$theme-banner-link-color: "red-10";
$theme-banner-max-width: none;
$theme-identifier-max-width: none;
$theme-color-primary:"blue-60v";
$theme-button-border-radius:0;

// -------------------------------------
// Import individual USWDS packages...
@import "scss/packages/required";
@import "overrides/all";
@import "scss/packages/global";

@import "scss/packages/uswds-components";
@import "scss/packages/uswds-utilities";

/*
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@import './gsa/base/var';
@import './gsa/base/mixins';

@import './gsa/layouts/body';
@import './gsa/layouts/header';
@import './gsa/layouts/footer';
@import './gsa/layouts/content';
@import './gsa/layouts/search';

@import './gsa/blocks/cta-btn';
@import './gsa/blocks/hero';
@import './gsa/blocks/faqs';
@import './gsa/blocks/icon-photos';
@import './gsa/blocks/steps';
@import './gsa/blocks/cover';

@import './gsa/base/animation';

// default mode hide banner
.usa-banner__content[hidden] {
  display: none;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
