<div class="grid-row grid-gap-3 gsa-steps-inline animation-chain margin-bottom-5">
	{% for step in site.data.steps-inline %}
		<div class="grid-col-6 mobile-lg:grid-col-4 tablet:grid-col fade-in">
			<figure>
				{% asset '{{ step.image }}' loading="lazy" alt="{{ step.alt }}" width="{{ assets["step.image"].dimensions.width }}" height="{{ assets["step.image"].dimensions.height }}" class="img-fluid" %}
				<figcaption class="gsa-step__content font-sans-lg">{{ step.content | markdownify }}</figcaption>
			</figure>
		</div>	
	{% endfor %}
</div>
