{% if cover %}
<section class="gsa-cover-wrap">
	{% if cover.image %}
	<div class="gsa-cover parallax lazy" data-bg="{{site.baseurl}}/assets/img/{{ cover.image }}" data-a2="{{site.baseurl}}/assets/img/{{ cover.demo2 }}" data-a3="{{site.baseurl}}/assets/img/{{ cover.demo3 }}" data-a4="{{site.baseurl}}/assets/img/{{ cover.demo4 }}" data-a5="{{site.baseurl}}/assets/img/{{ cover.demo5 }}" data-a6="{{site.baseurl}}/assets/img/{{ cover.demo6 }}" data-a7="{{site.baseurl}}/assets/img/{{ cover.demo7 }}"></div>
	{% endif %}
</section>
{% endif %}
