/* mixins.scss */

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transform($type) {
	-webkit-transform:$type;-moz-transform:$type;-o-transform:$type;-ms-transform:$type;transform:$type;
}
@mixin delay($time) {
	-webkit-transition-delay:$time;-moz-transition-delay:$time;-o-transition-delay:$time;transition-delay:$time;
}

//OPACITY
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//coverBG
@mixin coverBG($attachment:scroll, $position:center center ) {
	background-repeat: no-repeat;
	background-position:$position;
	background-attachment: $attachment;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


//hardware acceleration
@mixin hardware($backface: true, $perspective: 1000px) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
}
