{% comment %}
  This is used for just about every page. It provides the border around the content.
  The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

  {% include meta.html %}

  <body
    {% if page.pageclass %}
    class="{{page.pageclass}}"
    {% endif %}>
    
    {% unless site.enable-banner-alert == false %}
      <section class="usa-site-alert usa-site-alert--info" aria-label="Site alert,">
        <div class="usa-alert">
          <div class="usa-alert__body">
            {% if site.enable-banner-alert == true %}
            <h3 class="usa-alert__heading">Temporary outage.</h3>            
            <p class="usa-alert__text">              
              The study's survey system is temporarily out of service. Please come back later. We apologize for the inconvenience. 
            </p>
              
            {% elsif site.enable-banner-alert == "shutdown" %}
              
            <h3 class="usa-alert__heading">Thank you for your time and participation!</h3>
            <p class="usa-alert__text">              
            
              <b>We are no longer recruiting participants for the study.</b> If you have any questions about your participation contact us at <a href="mailto:identityequitystudy@research.gsa.gov">identityequitystudy@research.gsa.gov</a>. To learn more about the study's results please visit <a href="https://www.gsa.gov/governmentwide-initiatives/diversity-equity-inclusion-and-accessibility/equity-study-on-remote-identity-proofing">GSA's main website.</a> 
              <br /><br />
              To volunteer for other government research studies, please <a href="https://www.usa.gov/user-research">visit usa.gov</a>.            
                 
            </p>
            {% endif %}
          </div>
        </div>
      </section>    
    {% endunless %}

    {% include header.html %}

    {% include menu.html primary_navigation=site.primary_navigation secondary_navigation=site.secondary_navigation %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}
  </body>

</html>