{% comment %}
This is used for just about every page. It provides the border around the content.
The home page uses wide.html layout, since it extends full width of page
{% endcomment %}

<!DOCTYPE html>

<html lang="en">

{% include meta.html %}

<body{% if page.pageclass %} class="{{page.pageclass}}"{% endif %}>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7G3R7HV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  {% if site.enable-banner-alert == true%}
  <section class="usa-site-alert usa-site-alert--info" aria-label="Site alert,">
    <div class="usa-alert">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Temporary outage.</h3>
        <p class="usa-alert__text">
          The study's survey system is temporarily out of service. Please come back later. We apologize for the inconvenience.
        </p>
      </div>
    </div>
  </section>
  {% endif %}

  {% include header.html %}

  {% include menu.html primary_navigation=site.primary_navigation secondary_navigation=site.secondary_navigation %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}
</body>

</html>